<%= render "shared/header" %>
<div class="creditcard-page">
  <div class="creditcards-list">
    <div class='creditcard-page-menu'>
      <%= link_to "新規作成", new_credit_card_path, class:"credit-new" %>
    </div>
    <% @credit_cards.each do |credit_card| %>
    <div class="credits-list">
      <div class='credits'>
        <%= credit_card.card_name %>
      </div>
      <div class="more">
        <div class="arrow", id="lists">
          <%= image_tag 'arrow_top.png' %>
        </div>
        <ul class="more_list hidden" id="pull-down">
          <li>
            <%= link_to '削除', credit_card_path(credit_card.id), method: :delete, class:"credit-delete" %>
          </li>
        </ul>
      </div>
    </div>
    <% end %>
  </div>
  <div class="credit-page">
  </div>
</div>
<%= render "shared/footer" %>