<% if user_signed_in? %>
  <%= render "shared/header" %>
  <div class='main'>
    <div calss='calendar'>
    <%= month_calendar mainmenus: @events do |date| %>
      <%= date.day %>
    <% end %>
    </div>
    <div class="all-record">
    10000
    </div>
 </div>
  <%= render "shared/footer" %>
<% else %>
  <div class='login_signup'>
  <%= image_tag 'lp2.jpg', class:"lp_image" %>
    <div class='login-left'>
      <%= link_to 'Log in ?', new_user_session_path, class: "login" %>
    </div>
    <div class='sign-up-light'>
      <%= link_to 'Sign up ?', new_user_registration_path, class: "sign-up" %>
    </div>
  </div>
<% end %>
